In [1]:
import pandas as pd
import pathlib

In [3]:
# File path
file_path = pathlib.Path("./cities.csv")

org_df = pd.read_csv(file_path, encoding='utf-8')
# org_df = org_df.set_index('City_ID')
org_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ancud,-41.87,-73.82,284.82,93,75,7.70,CL,1589057451
1,pangnirtung,66.15,-65.71,272.97,92,100,2.65,CA,1589057692
2,provideniya,64.38,-173.30,277.12,76,100,11.46,RU,1589057692
3,praya,14.92,-23.51,296.15,73,75,8.20,CV,1589057417
4,solnechnyy,50.72,136.63,281.84,59,100,1.11,RU,1589057693

In [4]:
html = org_df.to_html()

In [5]:
html_output = open('./html_output.html', 'w')
html_output.write(html)
html_output.close()